@import url('https://fonts.googleapis.com/css?family=Carter+One|Share:400,700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Share', cursive;

}


/*--------------------------------------------------------------------------------------
PRELOADER
--------------------------------------------------------------------------------------*/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0C5ADB;
    z-index: 9999999;
    text-align: center
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    display: flex;
    align-items: center;
}
.line {
    width: 5px;
    height: 40px;
    background: #fff;
    margin: 0 3px;
    border-radius: 10px;
    animation: loading 0.8s infinite;
}
.line:nth-child(2) {
    animation-delay: 0.1s;
}
.line:nth-child(3) {
    animation-delay: 0.2s;
}
.line:nth-child(4) {
    animation-delay: 0.3s;
}
.line:nth-child(5) {
    animation-delay: 0.4s;
}
.line:nth-child(6) {
    animation-delay: 0.5s;
}
.line:nth-child(7) {
    animation-delay: 0.6s;
}
.line:nth-child(8) {
    animation-delay: 0.7s;
}
@keyframes loading {
    0% {
        height: 0;
    }
    50% {
        height: 40px;
    }
    100% {
        height: 0;
    }
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
    padding-top: 25px;
    padding-left: 55px;
    padding-right: 55px
}

.bg-light {
    background-color: transparent !important
}

.navbar-brand {
    font-weight: 700;
    font-size: 40px
}

a {
    transition: .5s;
    text-decoration: none;
    display: block
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Carter One', cursive;
}
a:hover {
    text-decoration: none
}

.navbar-brand span {
    color: #1c60e0
}

.navbar-brand b {
    color: #222
}

.navbar-nav .nav-item .nav-link {
    font-size: 15px;
    color: #3c3232;
    padding: 0 12px;
    font-weight: 600
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
    color: #0C5ADB;
}

.navbar-nav .nav-item.active .nav-link {
    color: #0C5ADB
}

.default-btn {
    background-color: #0C5ADB;
    color: #fff;
    border: 1px solid #0C5ADB;
    padding: 0px 40px;
    line-height: 50px;
    height: auto;
    border-radius: 6px;
    font-size: 15px;
    display: inline-block;
    font-weight: 700
}

.default-btn i {
    margin-right: 2px
}

.default-btn:hover {
    background-color: #0e3b84;
    color: #fff;
    border-color: #0e3b84
}

.default-btn-two {
    background-color: #0C5ADB;
    color: #fff;
    border: 1px solid #0C5ADB;
    border-radius: 6px;
    height: auto;
    line-height: 50px;
    padding: 0 40px;
    font-size: 16px;
    display: inline-block;
    font-weight: 700
}

.default-btn-two i {
    margin-right: 2px
}

.default-btn-two:hover {
    background-color: #0f3f8e;
    color: #fff;
    border-color: ##0f3f8e
}

.main-banner {
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position:    center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-banner .banner-overlay{
    background: rgba(255, 255, 255, 0.20);
    height: 650px;

}

.d-table {
    height: 100%;
    width: 100%
}

.d-table-cell {
    vertical-align: middle
}

.main-banner-content {
    text-align: center;
    margin-top: 70px
}

.main-banner-content h1 {
    font-size: 2.7rem;
    margin: 0;
    font-weight: 900;
    line-height: 58px;
    color: #002249;
}

.main-banner-content h3 {
    margin-bottom: 12px;
    font-size: 17px;
    font-weight: 700
}

.main-banner-content h3 a {
    color: #002249;
}

img {
    max-width: 100%
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1
}

.navbar.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, .1);
    background-color: #fff !important;
    -webkit-animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
    animation: .5s ease-in-out 0s normal none 1 running fadeInDown
}

.demo-area .container-fluid {
    padding-left: 45px;
    padding-right: 45px
}

.single-demo {
    text-align: center;
    position: relative;
    transition: .5s;
    margin-bottom: 60px
}

.single-demo:hover {
    box-shadow: 0 20px 8px rgba(0, 0, 0, .06);
    transform: translateY(-5px)
}

.single-demo .image {
    box-shadow: 0 22px 70px rgba(0, 0, 0, .13);
    position: relative
}

.single-demo .content-two {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    transition: .5s
}

.single-demo .content-two h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0
}

.single-demo .content-two h3 a {
    color: #000;
    padding: 20px 10px;
    transition: .5s;
    border-top: 1px solid #eee
}

.single-demo:hover .content-two h3 a {
    color: #fff;
    background: #0C5ADB;
    border-color: #0C5ADB
}

.demo-area .section-title {
    margin-bottom: 60px;
    margin-top: 30px
}

.features-area {
    background-color: #fafafa;
    padding: 100px 0 60px;
    margin-top: 40px
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
    margin-top: -6px
}

.section-title h2 {
    text-transform: capitalize;
    font-weight: 700;
    max-width: 620px;
    font-size: 40px;
    margin: 0 auto
}

.section-title-bg {
    color: #f0f0f0;
    font-size: 85px;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    opacity: .8;
    font-family: Monoton, cursive;
    text-transform: uppercase;
    right: 0;
    transform: translateY(-50%)
}

.section-title ul {
    padding: 0;
    margin: 8px 0 0;
    list-style-type: none
}

.section-title ul li {
    display: inline-block;
    position: relative;
    margin: 0 15px;
    color: #0C5ADB;
    font-size: 14px;
    font-weight: 600
}

.section-title ul li::before {
    content: '';
    position: absolute;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    background: #0C5ADB;
    width: 8px;
    height: 8px;
    border-radius: 50%
}

.section-title ul li:first-child::before {
    display: none
}

.single-features {
    text-align: center;
    background: #fff;
    margin-bottom: 40px;
    padding: 37px 15px 40px;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, .06)
}

.single-features:hover {
    background: #fff;
    -webkit-box-shadow: 0 40px 44px 0 rgba(0, 0, 0, .06), 0 40px 44px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 40px 44px 0 rgba(0, 0, 0, .06), 0 40px 44px 0 rgba(0, 0, 0, .06)
}

.single-features h3 {
    margin-bottom: 0;
    font-size: 18px;
    margin-top: 25px;
    text-transform: capitalize;
    font-weight: 700
}

.footer-area {
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0 45px;
    position: relative;
    z-index: 1
}

.footer-area::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #002249;
    opacity: 1
}

.footer-content {
    text-align: center;
    margin: 0 auto;
    max-width: 850px
}

.footer-content h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.3
}

.footer-content p {
    margin: 0 auto 30px;
    max-width: 585px;
    line-height: 1.9;
    color: #fff
}

.footer-content .copyright {
    margin-top: 55px
}

.footer-content .copyright span {
    color: #fff;
    display: block;
    margin-top: 20px;
    font-weight: 600
}

.footer-content .copyright .img a {
    display: inline-block
}

.you-may-also-like {
    padding: 100px 0 70px
}

.you-may-also-like .section-title {
    text-align: left;
    margin-left: 0;
    margin-right: 0
}

.you-may-also-like .section-title h2 {
    margin-left: 0;
    margin-right: 0
}

.single-slide-demo {
    position: relative
}

.single-slide-demo .link-btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}

.single-slide-demo .link-btn a i {
    display: none
}

.single-slide-demo .img {
    overflow: hidden
}

.single-slide-demo .img img {
    -webkit-transition: all 1.3s ease-out;
    transition: all 1.3s ease-out
}

.single-slide-demo .content {
    background: #fdf8f8;
    padding: 20px
}

.single-slide-demo .content h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    line-height: 28px
}

.single-slide-demo .content h3 a {
    text-decoration: none;
    color: #000
}

.single-slide-demo .content h3 a:hover {
    color: #222
}

.single-slide-demo:hover .img img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.owl-theme .owl-nav {
    margin-top: 0;
    line-height: .01;
    position: absolute;
    right: 15%;
    top: -135px
}

.like-slides.owl-theme .owl-nav [class*=owl-] {
    margin: 0 5px;
    background: #f5f5f5;
    color: #000;
    padding: 0 !important;
    width: 55px;
    height: 55px;
    font-size: 25px;
    line-height: 59px;
    -ms-transition: .4s;
    outline: 0;
    border-radius: 50%;
    box-shadow: unset;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s
}

.like-slides.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #222;
    color: #fff
}

@media only screen and (max-width:767px) {
    .navbar {
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px
    }

    .navbar-light .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(228, 147, 32, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }

    .navbar-brand {
        font-size: 35px
    }

    .navbar-light .navbar-toggler {
        color: #222;
        border-color: #222;
        outline: 0 !important;
        border-radius: 0
    }

    .navbar-light .navbar-nav {
        background: #fff;
        padding: 15px 15px 10px;
        border: 1px solid #eee;
        border-bottom: none
    }

    .default-btn-two {
        margin-bottom: 12px
    }

    .navbar-nav .nav-item .nav-link {
        padding: 5px 10px
    }

    .navbar-light .others-options {
        background-color: #fff;
        border: 1px solid #eee;
        border-top: none;
        padding: 0 15px 15px
    }

    .main-banner {
        height: 470px;
        position: relative;
        z-index: -1
    }

    .main-banner-content h3 {
        margin-bottom: 15px;
        font-size: 16px
    }

    .main-banner-content h1 {
        font-size: 1.5rem;
        margin: 0;
        font-weight: 700;
        line-height: 35px
    }

    .main-banner-content h1 br {
        display: none
    }

    .demo-area .container-fluid {
        padding-left: 15px;
        padding-right: 15px
    }

    .single-demo {
        margin-bottom: 40px
    }

    .single-demo .content .text h3 {
        font-size: 18px
    }

    .single-demo .content-two h3 {
        font-size: 17px
    }

    .features-area {
        padding: 55px 0 25px;
        margin-top: 25px
    }

    .section-title {
        margin-bottom: 50px
    }

    .section-title h2 {
        font-size: 30px
    }

    .section-title-bg {
        font-size: 55px
    }

    .section-title ul li {
        font-size: 12px;
        letter-spacing: 0
    }

    .single-features {
        margin-bottom: 30px;
        padding: 35px 15px 35px
    }

    .single-features h3 {
        font-size: 18px
    }

    .footer-area {
        padding: 65px 0 45px
    }

    .footer-content h1 {
        font-size: 26px;
        margin-bottom: 25px
    }

    .footer-content p {
        margin: 0 auto 25px;
        font-size: 15px
    }

    .you-may-also-like {
        padding: 55px 0
    }

    .owl-theme .owl-nav {
        margin-top: 30px;
        line-height: .01;
        position: relative;
        right: 0;
        top: 0
    }

    .like-slides.owl-theme .owl-nav [class*=owl-] {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 41px
    }

    .single-slide-demo .content {
        padding: 20px 15px
    }

    .single-slide-demo .content h3 {
        font-size: 15px;
        line-height: 26px
    }

    .single-slide-demo .content h3 br {
        display: none
    }

    .demo-area .section-title {
        margin-bottom: 35px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .navbar-light .navbar-toggler {
        color: #222;
        border-color: #222;
        outline: 0 !important;
        border-radius: 0
    }

    .navbar-light .navbar-nav {
        background: #fff;
        padding: 15px 15px 10px;
        border: 1px solid #eee;
        border-bottom: none
    }

    .navbar-nav .nav-item .nav-link {
        padding: 5px 10px
    }

    .navbar-light .others-options {
        background-color: #fff;
        border: 1px solid #eee;
        border-top: none;
        padding: 0 15px 15px
    }

    .navbar-light .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 72, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }

    .main-banner-content h1 {
        font-size: 2.15rem;
        line-height: 52px
    }

    .main-banner-content h3 {
        font-size: 19px
    }

    .main-banner {
        height: 590px
    }

    .main-banner-content h1 br {
        display: none
    }

    .section-title-bg {
        font-size: 65px
    }

    .section-title h2 {
        font-size: 35px
    }

    .single-demo .content-two h3 {
        font-size: 20px
    }

    .section-title ul {
        margin: 10px 0 0
    }

    .section-title ul li {
        font-size: 14px
    }

    .single-features h3 {
        font-size: 18px
    }

    .section-title {
        margin-bottom: 55px
    }

    .footer-content p {
        margin: 0 auto 30px;
        font-size: 15px
    }

    .footer-content h1 {
        font-size: 35px;
        margin-bottom: 27px
    }

    .owl-theme .owl-nav {
        right: 10%;
        top: -105px
    }

    .you-may-also-like {
        padding: 80px 0 50px
    }

    .single-slide-demo .content h3 br {
        display: none
    }
}

@media only screen and (min-width:1650px) {
    .main-banner {
        height: 600px
    }
}
